/AnnotationBodyImpl_.java
/AnnotationBodyImpl.java
/AnnotationImpl_.java
/CitagoraObjectImpl_.java
/CommentImpl_.java
/ContainerImpl_.java
/HarvestResultImpl_.java
/PersonImpl_.java
/RatingTypeImpl_.java
/ReferenceImpl_.java
/ReplyImpl_.java
/ReviewImpl_.java
/TagImpl_.java
